@model Tuple<IEnumerable<WebApplication4.Models.Reservation>,WebApplication4.Models.Client>
@{
    Layout = null;
	var id = ViewBag.x;
}

<!DOCTYPE html>

<html>
<head>
	<title>Pacific - Free Bootstrap 4 Template by Colorlib</title>
    <link rel="icon" type="image/png" href=@Url.Content("/assest/fav.jpg")>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/assest/css/animate.css">
	
	<link rel="stylesheet" href="/assest/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assest/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/assest/css/magnific-popup.css">

	<link rel="stylesheet" href="/assest/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/assest/css/jquery.timepicker.css">
	<!--kkkkkkkkkkkkkkkkkk-->

	<link rel="stylesheet" href="/assest/css/flaticon.css">
	<link rel="stylesheet" href="/assest/css/style.css">
</head>
<body>
		<nav class="navbar navbar-expand-lg  ftco_navbar  ftco-navbar-light bg-dark " style="background-color:#343a40!important" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="#">Pacific<span>Travel Agency</span></a>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">	
					<li class="nav-item"><a href="https://localhost:44346/HomePage" class="nav-link">Home</a></li>

				   @if (id != null)
			        {
						@*<li class="nav-item"><a href="#" class="nav-link">@Model.Item3.Name</a></li>			*@				
						<li class="nav-item dropdown ">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> 
								@Model.Item2.Name
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								  <li><a class="dropdown-item " href="https://localhost:44346/Clients/EditProfile">Information</a></li>
								  
								  <li><hr class="dropdown-divider"></li>
								  <li><a class="dropdown-item " href="@Url.Action("LogOut","HomePage")">LogOut</a></li>
							 </ul>
						</li>	
					
					}
					else
					{
						<li class="nav-item"><a href="https://localhost:44346/Login/Login" class="nav-link">Login</a></li>
					}
				</ul>
			</div>
		</div>
	</nav>
    	<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center pb-4">
					<div class="col-md-12 heading-section text-center ftco-animate">
						<span class="subheading">Destination</span>
						<h2 class="mb-4">Tour Destination</h2>
					</div>
				</div>
				<div class="row">
			
					@foreach (var item in Model.Item1)
						 {
					<div class="col-md-4 ftco-animate">
						<div class="project-wrap">
							<a class="img" style="background-image:  url('@Url.Content("~/image/"+@item.Trip.Imagepath)')">
								<span class="days price">$ @item.Trip.Price /person</span>
							</a>							
							<div class="text p-4">
								<span class="days">@((int.Parse(item.Trip.Dateto.Value.Day.ToString()))-(int.Parse(@item.Trip.Datefrom.Value.Day.ToString()))) Days Tour</span>
								<h3>@item.Trip.Tripname</h3>
								<p class="location"><span class="fa fa-map-marker"></span> @item.Trip.Itinerary</p>								
								@Html.ActionLink("Delete", "RemoveTrip","Reversation", new { id = item.Tripid })
							</div>
						</div>
					</div>					
					}
				
				</div>
			</div>
		</section>


<script src="/assest/js/jquery.min.js"></script>
			<script src="/assest/js/jquery-migrate-3.0.1.min.js"></script>
			<script src="/assest/js/popper.min.js"></script>
			<script src="/assest/js/bootstrap.min.js"></script>
			<script src="/assest/js/jquery.easing.1.3.js"></script>
			<script src="/assest/js/jquery.waypoints.min.js"></script>
			<script src="/assest/js/jquery.stellar.min.js"></script>
			<script src="/assest/js/owl.carousel.min.js"></script>
			<script src="/assest/js/jquery.magnific-popup.min.js"></script>
			<script src="/assest/js/jquery.animateNumber.min.js"></script>
			<script src="/assest/js/bootstrap-datepicker.js"></script>
			<script src="/assest/js/scrollax.min.js"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
			<script src="/assest/js/google-map.js"></script>
			<script src="/assest/js/main.js"></script>
			

</body>
</html>
